<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <title>Spotify Music Discovery</title>
        <link rel="stylesheet" href="{% static 'music_rec/artists.css' %}">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>
    <h1>Enter an Artist to add</h1>
    <input type="text" id="search"></input>
    <button class="search_button" onclick="getArtists()">search</button>
    <form action="{% url 'music_rec:setup' %}" method="post">
        {% csrf_token %}
        <div id="artists"></div>
        {% block js_block %}
	        <script type="text/javascript" src="{% static 'music_rec/artists.js' %}"></script> 
        {% endblock %}
        <button id="submit-button">Add to List</button>
    </form>
    <button class="back" onclick="window.location.href='{% url 'music_rec:setup' %}';">Back</button>
</html>