<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html>
    <head>
        {% load static %}
        <title>Spotify Music Discovery</title>
        <link rel="stylesheet" href="{% static 'music_rec/parameters.css' %}">
    </head>
    <body>
        <form action="{% url 'music_rec:submit' %}" method="post">
            {% csrf_token %}
            <div class="parameters">
                <label>Acousticness</label>
                <input type="range" name="target_acousticness" min="0" max="1" step="0.01"></input>
                <label>Danceability</label>
                <input type="range" name="target_danceability" min="0" max="1" step="0.01"></input>
                <label>Energy</label>
                <input type="range" name="target_energy" min="0" max="1" step="0.01"></input>
                <label>Instrumentalness</label>
                <input type="range" name="target_instrumentalness" min="0" max="1" step="0.01"></input>
                <label>Liveness</label>
                <input type="range" name="target_liveness" min="0" max="1" step="0.01"></input>
                <label>Loudness</label>
                <input type="range" name="target_loudness" min="0" max="1" step="0.01"></input>
                <label>Popularity</label>
                <input type="range" name="target_popularity" min="0" max="100"></input>
                <label>Speechiness</label>
                <input type="range" name="target_speechiness" min="0" max="1" step="0.01"></input>
                <label>Tempo</label>
                <input type="range" name="target_tempo" min="0" max="1" step="0.01"></input>
                <label>Valence</label>
                <input type="range" name="target_valence" min="0" max="1" step="0.01"></input>
                <button id="submit-button">Submit Parameters</button>
            </div>
        </form>
        <div class="back">
            <button onclick="window.location.href='{% url 'music_rec:index' %}';">Back</button>
        </div>
        <button onclick="window.location.href='{% url 'music_rec:submit' %}';">Continue without Parameters</button>
    </body>
</html>