<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html>
    <head>
        {% load static %}
        <title>Spotify Music Discovery</title>
        <link rel="stylesheet" href="{% static 'music_rec/setup.css' %}">
    </head>
    <body>
        <h1>{{ songs }}</h1>
        <div class="song-header">
          <button id="songs" onclick="window.location.href='{% url 'music_rec:songs' %}';">Songs</button>
        </div>
        <div class="artist-header">
          <button id="artists" onclick="window.location.href='{% url 'music_rec:artists' %}';">Artists</button>
        </div>
        <div class="genre-header">
          <button id="genres" onclick="window.location.href='{% url 'music_rec:genres' %}';">Genres</button>
        </div>
        
        <div class="song-element">
          {% for song in songs %}
            <label>{{song}}</label>
          {% endfor %}
        </div>
        <div class="artist-element">
          {% for artist in artists %}
            <label>{{artist}}</label>
          {% endfor %}
        </div>
        <div class="genre-element">
          {% for genre in genres %}
            <label>{{genre}}</label>
          {% endfor %}
        </div>
        <div class="back">
            <button onclick="window.location.href='{% url 'music_rec:index' %}';">Back</button>
        </div>
        <div class="submit-header">
          <button id="submit" onclick="window.location.href='{% url 'music_rec:parameters' %}';">Continue</button>
        </div>
        <div class="clear">
          <button onclick="window.location.href='{% url 'music_rec:clear' %}';">Clear</button>
      </div>
      </body>
</html>