<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <title>Spotify Music Discovery</title>
        <link rel="stylesheet" href="{% static 'music_rec/signup.css' %}">
    </head>
    <body>
        {% if error %}
            <p>{{error}}</p>
        {% endif %}
        <form action="{% url 'music_rec:signup_success' %}" method="post">
            {% csrf_token %}
            <label>Email</label>
            <input type="text" name="email"></input>
            <br>
            <label>Password</label>
            <input type="text" name ="password"></input>
            <br>
            <label>Confirm Password</label>
            <input type="text" name = "confirm_password"></input>
            <br>
            <button id="submit-button">Signup</button>
        </form>
        <button onclick="window.location.href='{% url 'music_rec:index' %}';">Back</button>
    </body>
</html>