<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html>
    <head>
        {% load static %}
        <title>Spotify Music Discovery</title>
        <link rel="stylesheet" href="{% static 'music_rec/setup.css' %}">
    </head>
    <body>
        <div class="song-container">
          <button id="songs" onclick="window.location.href='{% url 'music_rec:songs' %}';">Songs</button>
          {% for song in songs %}
          <label class="song-element">{{song}}</label>
          {% endfor %}
          <button class="bottom-button" onclick="window.location.href='{% url 'music_rec:index' %}';">Back</button>
        </div>
        <div class="artist-container">
          <button id="artists" onclick="window.location.href='{% url 'music_rec:artists' %}';">Artists</button>
          {% for artist in artists %}
          <label class="artist-element">{{artist}}</label>
          {% endfor %}
          <button class="bottom-button" id="submit" onclick="window.location.href='{% url 'music_rec:parameters' %}';">Continue</button>
        </div>
        <div class="genre-container">
          <button id="genres" onclick="window.location.href='{% url 'music_rec:genres' %}';">Genres</button>
          {% for genre in genres %}
          <label class="genre-element">{{genre}}</label>
          {% endfor %}
          <button class="bottom-button" onclick="window.location.href='{% url 'music_rec:clear' %}';">Clear</button>
        </div>
      </body>
</html>