body {
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    justify-content: center;
    background-color: #333;
    color: #000000;

  }
  
h1 {
font-size: 24px;
margin-bottom: 20px;
grid-column: 1 / 4;
color: rgb(255, 255, 255);
text-align: center;
width: 100%;
}

button {
    font-size: 24px;
    text-align: center;
    display: flex;
    background-color: rgb(56, 166, 87);
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 60px;
    width: 100%;
    margin-bottom: 5px;
    border-radius: 50px;
}

button:hover {
    background-color: rgb(61, 171, 92);
    color: white;
    display: flex;
  }

.parameters {
    color:rgb(255, 255, 255);
    display: grid;
}

.back {
    margin-top: 110%;
}