body {
    font-family: Arial, sans-serif;
    justify-content: center;
    background-color: #333;
    color: white;
}
  
h1 {
    font-size: 200%;
    margin-bottom: 1%;
    color: rgb(255, 255, 255);
    text-align: center;
}